# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.ilk
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.log
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/AI_Mercant.lastbuildstate
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/CL.command.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/Cl.items.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/CL.read.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/CL.write.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/link.command.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/link.read.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/link.secondary.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/AI_Mercant.tlog/link.write.1.tlog
AI_Mercant/AI_Mercant/x64/Debug/vc143.idb
AI_Mercant/AI_Mercant/x64/Debug/vc143.pdb
AI_Mercant/x64/Debug/AI_Mercant.pdb
